<h1 class="titleEmp"> Employee List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>
                {{employee.firstName}}
            </td>
            <td>
                {{employee.lastName}}
            </td>
            <td>
                {{employee.email}}
            </td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">update</button>
            </td>
        </tr>
    </tbody>
</table>